nav{
background: #c1c1c1;
font-size: 13px;


}

span {
    color: #fcfdfd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: center;
    
}

li {
    position: relative;
    padding: 12px 30px;
    
}

.span ul > li:hover{
    pointer-events: none;
    color: #c1c1c1;
}
.top-level, .top-level ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-level{
   width: 900px;
   height: 40px;
   margin: 50px auto;
   background-color: #030303;
   color: rgb(253, 253, 251);
        
}

span:hover{
color: #0b775c;
}

.top-level:before,
.top-level:after{
   content:'';
   display: table;
}

.top-level:after{
   clear: both;
}

.top-level li{
   float: left;
   box-shadow: 1px 0 0 #444;
   position: relative;
}

.drop-down:hover{
    background: #0b775c;
}

.drop-down li > a > span:hover{
    color: #ffffff;
    
}

.top-level ul{
   margin: 20px 0 0 0;
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 40px;
   left: 0;
   z-index: 1;
   background: #0b775c;
  
   transition: all .3s ease-in-out;
   
   
}

.top-level li:hover > ul{
    opacity: 1;
    visibility: visible;
    margin: 0;
}

.top-level ul ul{
    top: 0;
    left: 210px;
    margin: 0 0 0 10px;
}

.top-level ul li{
    float: none;
    display: block;
    border: 0;
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    
}

.top-level ul li:last-child{
    box-shadow: none;
}

.top-level ul a{
    padding: 0px;
    width: 150px;
    display: block;
    white-space: nowrap;
    float: none;
    
}

.fly-out{

    width: 200px;
    display: block;
    white-space: nowrap;
    float: none;  
}

.fly-out li {
    width: 100px;
}



.top-level ul a:hover{
    background-color: #41bd6adc;;
}

.top-level ul li:first-child > a{
    border-radius: 3px 3px 0 0;
}

.menu ul li:first-child > a:after{
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-top: 6px solid #fff;
}